.root {
  display: inline-flex;
  outline: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0;
  line-height: 1.75;
  padding: 3px 8px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-shadow: rgba(11, 13, 14, 0.6) 0 1px 1px;
  background-color: rgb(0, 115, 230);
  background-image: linear-gradient(rgba(0, 115, 230, 0.6) 0%, rgb(0, 107, 214) 100%);
  box-shadow: rgb(51, 153, 255) 0px 2px 0.5px inset, rgb(0, 97, 194) 0px -3px 1px inset, rgba(11, 13, 14, 0.1) 0px 2px 4px 0px;
}
.secondary{
  background: transparent;
  border-radius: 8px;
  color: rgb(0, 107, 214);
  box-shadow: none;
  text-shadow: none;
}