.map {
  * {
    cursor: pointer;
  }
}

.root {
  width: 100%;
}

.select {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 200px;
  height: 57px;
  @media screen and (max-width: 768px) {
    top: 60px;
    left: 10px;
  }
}

.mapModeText {
  color: black;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}